<!DOCTYPE html>
<html>
<head>

<script src="angular.min.js"></script>
<meta charset="utf-8">

</head>
<body ng-app="myApp">
	<script>
		var app = angular.module("myApp", []);
		app.controller("MyController", function($scope, $http) {
			$scope.data = function() {
				$http.get("emp").success(function(res) {
					alert(JSON.stringify(res));
					$scope.emps=res;
				});
			}
			$scope.data2 = function() {
				$http.get("emp/0").success(function(res) {
					alert(JSON.stringify(res));
				
				});
			}
		});
	</script>
	<div ng-controller="MyController">
		<button ng-click="data()">Get</button>
		<button ng-click="data2()">Get1</button>

		<table>
			<tr ng-repeat="emp in emps">
				<td>{{emp.eid}}</td>
				<td>{{emp.name}}</td>
				<td><a href="emp/{{emp.eid}}">details</a></td>
			</tr>
		</table>
	</div>
</body>
</html>